/*
set all needed fonts
Like:

@font-face {
    font-family: 'larken-bold';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Larken-Bold.woff') format('woff'),
         url('../fonts/Larken-Bold.woff2') format('woff2');
}

----------------------------------------------------------------------

then use this on all the other css

@import url('fonts.css');

*/